

body{
  font-family: 'Karla', sans-serif;
  background-color: #e6eff6;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.fondo-izquierda{
  background-color: #2bb3b1;
  border-bottom-left-radius: 7px;
}

.fondo-derecha{
  background-color: #4abebd;
  border-bottom-right-radius: 7px;
}

.opacidad-50{
  opacity: .5;
}

.opacidad-70{
  opacity: .7;
}

.warning{
  background-color: #bee032 !important;
}

.text-warning{
  color: #bee032 !important;
}

.text-info{
  color: #41a9a8 !important;
}

@media (max-width: 768px){
    .fondo-izquierda{
      border-bottom-left-radius: 0px;
    }
    .fondo-derecha{
      border-bottom-left-radius: 7px;
    }


}
